* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #222222;
}
.container {
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.success {
  background-color: #222222;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
  color: #fff;
  visibility: hidden;
}
.success > div {
  margin-top: 120px;
}
.showsuccess {
  visibility: visible;
}
.tick {
  width: 30px;
  height: 45px;
  border-right: 8px solid rgb(107, 5, 56);
  border-bottom: 8px solid rgb(107, 5, 56);
  transform: rotate(45deg);
  margin: auto;
  margin-bottom: 30px;
}
.formcontainer {
  width: 450px;
  border-radius: 10px;
  padding: 10px;
}
form div {
  margin-top: 16px;
}
form label {
  display: inline-block;
  padding: 5px 0;
  color: #fff;
}
form input,
select {
  width: 100%;
  padding: 5px 0;
  background-color: transparent;
  color: #ccc;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}
select > option {
  background-color: #222222;
}
span {
  color: red;
  font-size: 0.8rem;
}
button {
  margin-top: 30px;
  background-color: rgb(107, 5, 56);
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 2px;
}
